footer{background-color: #2d51a3;
            color: white;font-family: 'IBM Plex Serif', serif;}
    footer .container{padding-top: 25px;}
    footer b{color: white;
            }
    footer li{color: white;
            }
    footer a{text-decoration: none;
            color: white;
            }